---
import { Debug } from "astro:components";
import Layout from "@src/components/Layout.astro";
import {
    createBrainstormMessage,
    updateBrainstormSummary,
} from "@src/weaviate/crud";
import {
    // getSimilarBrainstorms,
    // getRelevantContextForBrainstorm,
    // getRelevantContextForBrainstormMessage,
    // getBrainstormFromWeaviateById,
    getBrainstormWithMessagesById,
} from "@src/weaviate/query";
import {
    getNewCoachMessageForBrainstorm,
    generateSummaryForBrainstorm,
    getRelevantContextForBrainstormMessage,
} from "@src/weaviate/generative";

const brainstormId = Astro.params.id as string;

let brainstorm = getBrainstormWithMessagesById({ brainstormId });

if (!brainstorm) {
    return new Response("Not found", { status: 404 });
}

let actionStatus = "";

// TODO: should move these action handlers to a separate file
if (Astro.request.method === "POST") {
    const formData = await Astro.request.formData();
    const action = formData.get("form-action") as string;
    if (action === "add-user-message") {
        const message = formData.get("message") as string;
        await createBrainstormMessage({
            brainstormId,
            content: message,
            role: "user",
        });
        actionStatus = "Message added";
    }
    if (action === "get-coach-message") {
        // at the moment this is only getting the relevant context based on the vector of the brainstorm
        // the vector of the brainstorm is calculated when someone clicks 'add to weaviate'
        // so if you 'add to weaviate' then add more messages, the vector will not be up to date...
        // so we should probably recalculate the vector when adding a message
        // const contextForBrainstorm = await getRelevantContextForBrainstorm({
        //     brainstormId,
        // });
        // const lastMessage = getMessagesForBrainstorm(brainstormId).at(-1);
        // console.log({ lastMessageId: lastMessage.id });
        // const contextForLastMessage =
        //     await getRelevantContextForBrainstormMessage({
        //         brainstormMessageId: lastMessage.id,
        //     });
        // console.log({ contextForLastMessage });
        const shouldUseRelevantContext =
            formData.get("use-relevant-context") === "on";

        const coachMessage = await getNewCoachMessageForBrainstorm({
            brainstormId,
            shouldUseRelevantContext,
        });
        await createBrainstormMessage({
            brainstormId,
            content: coachMessage,
            role: "assistant",
        });
        actionStatus = "Coach message added";
    }
    if (action === "generate-summary") {
        const summary = await generateSummaryForBrainstorm({ brainstormId });
        await updateBrainstormSummary({
            brainstormId,
            summary,
        });
        actionStatus = "Summary generated";
    }

    if (action === "get-relevant-context") {
        const brainstormMessageId = formData.get("message-id") as string;
        const relevantContext = await getRelevantContextForBrainstormMessage({
            brainstormMessageId,
        });
        actionStatus = "Relevant context: " + relevantContext;
    }

    // if (action === "delete-messages-after-id") {
    //     const messageIdStr = formData.get("message-id") as string;
    //     const messageId = parseInt(messageIdStr, 10);
    //     deleteMessagesAfterId({
    //         brainstormId,
    //         messageId,
    //     });
    //     actionStatus = "Messages deleted";
    // }
}

// hacky to refetch
brainstorm = await getBrainstormWithMessagesById({ brainstormId });

const messages = brainstorm.hasMessages;

// const weaviateBrainstorm = await getBrainstormFromWeaviateById({
//     brainstormId: brainstormId,
// });

// const similarBrainstorms = await getSimilarBrainstorms({
//     brainstormId: brainstormId,
// });
---

<Layout>
    {actionStatus && <p class="status">{actionStatus}</p>}
    <h1>Brainstorm: {brainstorm.title}</h1>
    <h2>Summary</h2>
    {brainstorm.summary && <pre>{brainstorm.summary}</pre>}
    <form method="POST">
        <button name="form-action" value="generate-summary"
            >Generate summary</button
        >
    </form>
    <h2>Transcript</h2>
    <ul>
        {
            messages?.map((message) => (
                <li>
                    {message.role}: {message.content}
                    <form method="POST">
                        <input
                            type="hidden"
                            name="message-id"
                            value={message._additional.id}
                        />
                        <button name="form-action" value="get-relevant-context">
                            Get relevant context for this message
                        </button>
                    </form>
                    <form method="POST">
                        <input
                            type="hidden"
                            name="message-id"
                            value={message.id}
                        />
                        <button
                            name="form-action"
                            value="delete-messages-after-id"
                        >
                            Delete after this message
                        </button>
                    </form>
                </li>
            ))
        }
    </ul>
    <form method="POST">
        <label>
            <input type="checkbox" name="use-relevant-context" />
            Use relevant context from other brainstorms</label
        >
        <button name="form-action" value="get-coach-message"
            >Get coach message</button
        >
    </form>
    <form method="POST">
        <label for="message-input">Message</label>
        <textarea name="message" id="message-input"></textarea>
        <button name="form-action" value="add-user-message" type="submit"
            >Send</button
        >
    </form>

    <!-- <h2>Similar brainstorms</h2>
    <ul>
        {
            similarBrainstorms.map((brainstorm) => (
                <li>
                    <a href={`/brainstorms/${brainstorm.brainstormId}`}>
                        {brainstorm.title} (distance:{" "}
                        {brainstorm._additional.distance})
                    </a>
                </li>
            ))
        }
    </ul> -->

    <!-- <Debug {similarBrainstorms} />
    <Debug {weaviateBrainstorm} />

    <Debug {messages} /> -->
</Layout>

<style>
    textarea {
        width: 100%;
        height: 100px;
    }

    pre {
        white-space: pre-wrap;
    }

    .status {
        background-color: lightgreen;
        padding: 1em;
    }
</style>
